[package]
name = "taralli-server"
version = "0.1.0"
edition = "2021"

[dependencies]
taralli-primitives = { path = "../taralli-primitives" }
alloy = { workspace = true, features = ["full", "getrandom"] }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
thiserror = { workspace = true }
reqwest = { workspace = true }
futures = { workspace = true }
futures-util = { workspace = true }
url = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
async-trait = { workspace = true }
color-eyre = { workspace = true }
axum = "0.7.4"
base64 = "0.22.0"
bytes = "1.6.0"
tokio-stream = "0.1.14"
tower-http = { version = "0.5.2", features = ["trace"] }
async-stream = "0.3.5"
hex = "0.4.3"

[dev-dependencies]
tower = { version = "0.5.1", features = ["util"] }
hyper = "1.4.1"
dotenv = "0.15.0"